.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 260px;
  height: 52px;
  background-color: var(--basic-white);
  border: 2px solid var(--basic-text);
  font-size: 18px;
  line-height: 20px;
  color: var(--basic-text);
  text-transform: uppercase;
}
