.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 256px;
  min-height: 48px;
  background-color: $white;
  border: 2px solid $darkgrey;
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  color: $darkgrey;
  text-transform: uppercase;

  &:hover {
    color: $white;
    background-color: $darkgrey;
  }

  &:focus {
    color: $white;
    background-color: $darkgrey;
  }

  &:active .button__text {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    width: 288px;
    font-size: 17px;
  }
}

.button__text {
  width: 256px;
  text-align: center;
}
