.comment__grid {
  margin-bottom: 15px;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: baseline;
    padding: 50px 0;
    margin-bottom: 4px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr 4fr;
    padding-right: 175px;
    margin-bottom: 0;
  }
}

.comment__title {
  margin-bottom: 22px;

  @media (min-width: $tablet-width) {
    padding-top: 17px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 62px;
  }
}

.comment__text {
  border: 2px solid $darkgrey;
  width: 224px;
  height: 105px;
  resize: none;
  font-size: 17px;
  line-height: 18px;
  font-family: $fontFamily;
  padding: 16px;

  &:hover {
    border: 2px solid $special-tiffany;
  }

  &:focus {
    border: 2px solid $special-tiffany;
    outline: none;
  }

  &::placeholder {
    width: 90%;
    color: $black;
    opacity: 0.3;
    line-height: 18px;

    @media (min-width: $tablet-width) {
      padding: 0;
    }
  }

  @media (min-width: $tablet-width) {
    width: 465px;
    font-size: 19px;
  }

  @media (min-width: $desktop-width) {
    width: 664px;
  }
}
