.contacts__container {
  width: 320px;
  margin: 0 auto;
  padding: 38px 0 39px;

  @media (min-width: $tablet-width) {
    width: 768px;
    padding: 68px 0 57px;
  }

  @media (min-width: $desktop-width) {
    width: 1050px;
    padding: 71px 50px 105px;
  }
}

.contacts__grid {
  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.contacts__title {
  margin: 0;
  padding-left: 30px;
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 28px;

  @media (min-width: $tablet-width) {
    padding-left: 50px;
    font-size: 43px;
    line-height: 50px;
    margin-bottom: 50px;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      top: -23px;
      right: 52px;
      background-image: url("../img/flag.svg");
      background-repeat: no-repeat;
      width: 47px;
      height: 81px;

      @media (min-width: $desktop-width) {
        left: 63px;
        top: 62px;
      }
    }
  }

  @media (min-width: $desktop-width) {
    font-size: 53px;
    line-height: 57px;
    padding-top: 80px;
    padding-left: 175px;
    margin-bottom: 34px;
  }
}

.contacts__list {
  list-style: none;
  padding: 0 30px;
  margin-bottom: 63px;

  @media (min-width: $tablet-width) {
    padding: 0 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 49px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: none;
    padding: 0 30px 0 175px;
    margin: 0;
    margin-bottom: 84px;
  }
}

.contacts__item {
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
  color: var(--basic-text);
  display: flex;
  min-height: 60px;

  @media (min-width: $tablet-width) {
    font-size: 17px;
  }
}

.contacts__value {
  margin-left: 34px;
  position: relative;

  @media (min-width: $tablet-width) {
    margin-left: 25px;
  }
}

.contacts__link {
  color: $darkgrey;
  padding-bottom: 2px;
  border-bottom: 1px solid $special-tiffany;

  &:hover {
    color: $tiffany-hover;
    border-bottom: 1px solid rgb(70, 193, 174);
  }

  &:active {
    border-bottom: 1px solid rgba(70, 193, 174, 0.1);
  }

  @media (min-width: $tablet-width) {
    padding-bottom: 3px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 8px;
  }
}

.contacts__map-bg {
  margin-bottom: 42px;
  background-image: url("../img/map-mobile.png");
  background-repeat: no-repeat;
  width: 320px;
  height: 454px;
  position: relative;
  z-index: -1;

  &::after {
    content: "";
    position: absolute;
    background-image: url("../img/map-pin.svg");
    left: 50%;
    top: 50%;
    transform: translate(-32%, -82%);
    width: 67px;
    height: 100px;
    z-index: -1;
  }

  @media (min-resolution: 2dppx) {
    background-image: url("../img/map-mobile@2x.png");
    background-size: 320px auto;
  }

  @media (min-width: $tablet-width) {
    background-image: url("../img/map-tablet.png");
    width: 768px;
    height: 457px;
    margin-bottom: 55px;

    &::after {
      transform: translate(-32%, -90%);
    }

    @media (min-resolution: 2dppx) {
      background-image: url("../img/map-tablet@2x.png");
      background-size: 768px auto;
    }
  }

  @media (min-width: $desktop-width) {
    background-image: url("../img/map-desktop.png");
    width: 527px;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 4;
    margin-bottom: 0;

    &::after {
      transform: translate(-35%, -82%);
    }

    @media (min-resolution: 2dppx) {
      background-image: url("../img/map-desktop@2x.png");
      background-size: 527px auto;
    }
  }
}

.contacts__map {
  border: none;
  width: 320px;
  height: 454px;

  @media (min-width: $tablet-width) {
    width: 768px;
    height: 457px;
  }

  @media (min-width: $desktop-width) {
    width: 527px;
  }
}

.contacts__grid .contacts__button {
  margin: 0 30px;

  @media (min-width: $tablet-width) {
    width: 226px;
    margin: 0 269px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    margin-left: 175px;
  }
}
