.copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.copyright__text {
  font-size: 19px;
  line-height: 18px;
  margin-bottom: 8px;
}

.copyright__link {
  fill: $tiffany;

  &:hover {
    fill: $tiffany-hover;
  }

  &:active {
    opacity: 0.3;
  }
}
