.data {
  margin-bottom: 34px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;

    &--bg {
      background-color: $special-grey;
    }
  }
}

.data__name {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: baseline;
    padding: 50px 0;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr 4fr;
    padding-right: 175px;
  }
}

.data__phone {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: baseline;
    padding: 50px 0;
    padding-bottom: 24px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr 4fr;
    padding-right: 175px;
  }
}

.data__post {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: baseline;
    padding-bottom: 50px;
    padding-top: 0;
    background-color: $special-grey;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr 4fr;
    padding-right: 175px;
  }
}

.data__title {
  margin-bottom: 5px;

  @media (min-width: $desktop-width) {
    padding-left: 62px;
  }
}

.data__list {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 29px;

  @media (min-width: $tablet-width) {
    margin-top: 0;
  }
}

.data__item {
  @media (min-width: $tablet-width) {
    display: flex;
    align-items: baseline;
  }
}

.data__item:not(:last-child) {
  margin-bottom: 22px;

  @media (min-width: $tablet-width) {
    margin-bottom: 24px;
  }
}

.data__phone,
.data__post {
  position: relative;
}

.data__label {
  @media (min-width: $tablet-width) {
    padding-right: 25px;
    font-size: 19px;
  }
}

.data__input {
  width: 260px;
  height: 50px;
  font-size: 17px;
  line-height: 18px;
  font-weight: 400;
  font-family: $fontFamily;
  color: $darkgrey;
  border: none;
  box-shadow: inset 0 -2px 0 $black;

  &:hover {
    box-shadow: inset 0 -2px 0 $special-tiffany;

    & + .data__icon {
      fill: $special-tiffany;
      opacity: 1;
    }
  }

  &:focus {
    box-shadow: inset 0 -2px 0 $special-tiffany;
    outline: none;

    & + .data__icon {
      fill: $special-tiffany;
      opacity: 1;
    }
  }

  &::placeholder {
    font-size: 17px;
    line-height: 18px;
    font-weight: 400;
    font-family: $fontFamily;
    color: $black;
    opacity: 0.3;

    @media (min-width: $tablet-width) {
      font-size: 19px;
    }
  }

  @media (min-width: $tablet-width) {
    width: 96%;
    padding-left: 17px;
    font-size: 19px;
  }

  @media (min-width: $desktop-width) {
    width: 97%;
  }
}

.data__input--contacts {
  @media (min-width: $tablet-width) {
    background-color: $special-grey;
  }
}

.data__icon {
  position: absolute;
  fill: $black;
  opacity: 0.2;

  &--phone {
    bottom: 17px;
    right: 8px;

    @media (min-width: $tablet-width) {
      bottom: 41px;
      right: 26px;
    }

    @media (min-width: $desktop-width) {
      right: 8px;
      padding-right: 175px;
    }
  }

  &--letter {
    bottom: 15px;
    right: 4px;

    @media (min-width: $tablet-width) {
      top: 16px;
      right: 22px;
    }

    @media (min-width: $desktop-width) {
      right: 4px;
      padding-right: 175px;
    }
  }
}
