.filter-radio {
  display: inline-flex;
  align-items: center;
  min-height: 40px;
  position: relative;
  padding-left: 60px;

  &:hover {
    .filter-radio__text::before {
      border: 2px solid $special-tiffany;
    }
  }

  &:focus-within {
    .filter-radio__text::before {
      outline: 2px solid $special-tiffany;;
    }
  }

  &:active {
    .filter-radio__text::before {
      border: 2px solid rgba(0, 0, 0, 0.3);
    }
  }

  @media (min-width: $tablet-width) {
    min-height: 50px;
    padding-left: 78px;
  }
}

.filter-radio__text {
  @media (min-width: $tablet-width) {
    font-size: 19px;
  }
}

.filter-radio__text::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 36px;
  height: 36px;
  border: 2px solid $darkgrey;
  border-radius: 50%;

  @media (min-width: $tablet-width) {
    width: 45px;
    height: 45px;
  }
}

.filter-radio__input:checked + .filter-radio__text::after {
  content: "";
  position: absolute;
  top: 12px;
  left: 12px;
  width: 16px;
  height: 16px;
  background-color: $special-tiffany;
  border-radius: 50%;

  @media (min-width: $tablet-width) {
    width: 19px;
    height: 19px;
    top: 15px;
    left: 15px;
  }
}
