.filter-type {
  margin-bottom: 31px;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: baseline;
    padding: 50px;
    margin-bottom: 0;
  }
}

.filter-type__title {
  margin-bottom: 31px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }
}

.filter-type__list {
  list-style: none;
  padding: 0;
  margin: 0;

  @media (min-width: $tablet-width) {
    padding-left: 3px;
  }
}

.filter-type__item:not(:last-child) {
  margin-bottom: 13px;

  @media (min-width: $tablet-width) {
    margin-bottom: 26px;
  }
}
