.filter-checkbox {
  display: inline-flex;
  align-items: center;
  min-height: 38px;
  position: relative;
  padding-left: 60px;

  &:hover {
    .filter-checkbox__text::before {
      border: 2px solid $special-tiffany;
    }
  }

  &:focus-within {
    .filter-checkbox__text::before {
      border: 2px solid $special-tiffany;
    }
  }

  &:active {
    .filter-checkbox__text::before {
      border: 2px solid rgba(0, 0, 0, 0.3);
    }
  }

  @media (min-width: $tablet-width) {
    font-size: 19px;
    padding-left: 82px;
    min-height: 48px;
  }
}

.filter-checkbox__text::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 34px;
  height: 34px;
  border: 2px solid $darkgrey;

  @media (min-width: $tablet-width) {
    width: 48px;
    height: 48px;
  }
}

.filter-checkbox__input:checked + .filter-checkbox__text::after {
  content: "";
  position: absolute;
  top: 11px;
  left: 7px;
  width: 23px;
  height: 16px;
  background-image: url("../img/tick.svg");

  @media (min-width: $tablet-width) {
    top: 15px;
    left: 10px;
    width: 34px;
    height: 22px;
    background-image: url("../img/tick2.svg");
  }
}
