.main-nav {
  @media (min-width: $tablet-width) {
    position: relative;
    margin-bottom: -45px;
    z-index: 1;
  }
}

.main-nav__container {
  width: 320px;
  margin: 0 auto;
  position: relative;

  @media (min-width: $tablet-width) {
    width: 668px;
  }

  @media (min-width: $desktop-width) {
    width: 1050px;
  }
}

.main-nav__toggle {
  position: absolute;
  top: 20px;
  right: 19px;
  width: 40px;
  height: 40px;
  background-color: $white;
  border: none;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.main-nav--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 12px;
  left: 8px;
  width: 20px;
  height: 2px;
  background-color: $special-black;
  box-shadow: 0 6px 0 0 $special-black, 0 12px 0 0 $special-black;
}

.main-nav--opend .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 9px;
  left: 8px;
  width: 21px;
  height: 20px;
  background-image: url("../img/menu-close.svg");
}

.main-nav__list {
  list-style: none;
  margin: 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.main-nav__logo {
  padding: 21px 118px 17px 116px;
  border-top: 1px solid $lightgrey;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    padding: 20px 205px 20px 0;
    border-right: 1px solid $lightgrey;
  }

  @media (min-width: $desktop-width) {
    padding: 9px 101px 7px 25px;
  }
}

.main-nav__item {
  padding: 27.5px 0 26.5px 76px;
  border-top: 1px solid $lightgrey;
  position: relative;

  @media (min-width: $tablet-width) {
    border-top: none;

    &--catalog {
      order: 2;
      font-size: 15px;
      padding: 21px 40px 0 0;
    }

    &--order {
      order: 2;
      font-size: 15px;
      padding: 21px 40px 0 0;
    }

    &--search {
      padding: 36px 49px 34px 33px;
      border-right: 1px solid $lightgrey;
    }

    .main-nav__link-text {
      display: none;
    }

    &--basket {
      padding: 32px 0 32px 70px;
    }

    &--new {
      display: none;
    }

    &--sale {
      display: none;
    }

    &--delivery {
      order: 2;
      padding: 20px 0 0 89px;
    }

    .main-nav__text {
      margin: 0;
      font-size: 15px;
      font-weight: 400;
      color: $darkgrey;
    }
  }

  @media (min-width: $desktop-width) {
    &--catalog {
      order: -1;
      font-size: 17px;
      padding: 32.5px 35px 31.5px 0;
      border-right: 1px solid $lightgrey;
    }

    &--order {
      order: -1;
      font-size: 17px;
      padding: 32.5px 45px 31.5px 35px;
    }

    &--basket {
      padding: 32.5px 0 31.5px 75px;
    }

    &--new {
      display: block;
      font-size: 15px;
      padding: 20px 28px 0 0;
    }

    &--sale {
      display: block;
      font-size: 15px;
      padding: 20px 208px 0 36px;
    }

    &--delivery {
      padding: 20px 0 0 294px;
    }
  }
}

@media (max-width: $mobile-width-only) {
  .main-nav__item--delivery,
  .main-nav__item--new,
  .main-nav__item--sale {
    display: none;
  }
}

.main-nav__link {
  color: $black;

  .main-nav__icon {
    position: absolute;
    left: 30px;
    opacity: 0.2;
  }

  &:hover {
    opacity: 0.6;

    .main-nav__icon {
      opacity: 1;
      fill: $tiffany;
    }
  }

  &:active {
    opacity: 0.3;

    .main-nav__icon {
      opacity: 0.3;
    }
  }
}
