.main-nav {
  @media (min-width: $tablet-width) {
    height: 88px;
    position: relative;
    z-index: 1;
  }
}

.main-nav__container {
  width: 320px;
  margin: 0 auto;
  position: relative;

  @media (min-width: $tablet-width) {
    width: 668px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 88px 1fr;
  }

  @media (min-width: $desktop-width) {
    width: 1050px;
    grid-template-columns: 2fr 1fr;
  }
}

.main-nav__logo {
  padding: 21px 118px 22px 116px;
  border-top: 1px solid $lightgrey;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  &--active {
    &:hover,
    &:active {
      opacity: 1;
    }
  }

  @media (min-width: $tablet-width) {
    margin-left: -2px;
    padding: 22px 207px 20px 0;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    padding: 0;
    left: 50%;
    top: 9px;
    transform: translateX(-50%);
    border: none;
    z-index: 1;
  }
}

.main-nav__toggle {
  position: absolute;
  top: 20px;
  right: 19px;
  width: 40px;
  height: 40px;
  background-color: $white;
  border: none;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.main-nav--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 12px;
  left: 8px;
  width: 20px;
  height: 2px;
  background-color: $special-black;
  box-shadow: 0 6px 0 0 $special-black, 0 12px 0 0 $special-black;
}

.main-nav--closed .main-nav__toggle:hover::before {
  opacity: 0.6;
}

.main-nav--closed .main-nav__toggle:active::before {
  opacity: 0.3;
}

.main-nav--opened .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 9px;
  left: 8px;
  width: 21px;
  height: 20px;
  background-image: url("../img/menu-close.svg");
}

.main-nav--opened .main-nav__toggle:hover::before {
  opacity: 0.6;
}

.main-nav--opened .main-nav__toggle:active::before {
  opacity: 0.3;
}

@media (max-width: $mobile-width-only) {
  .main-nav--closed .main-nav__list {
    display: none;
  }

  .main-nav--nojs .main-nav__toggle {
    display: none;
  }

  .main-nav--nojs .main-nav__list {
    display: block;
  }
}

.main-nav__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.main-nav__text {
  @media (max-width: $mobile-width-only) {
    display: none;
  }

  @media (min-width: $tablet-width) {
    margin: 0;
    padding: 20px 0;
    font-size: 15px;
    font-weight: 400;
    color: $darkgrey;
    text-align: end;
  }
}

