.page-footer {
  min-height: 160px;
  background-color: $special-grey;
}

.page-footer__container {
  width: 182px;
  margin: 0 auto;
  padding: 25px 69px 19px;

  @media (min-width: $tablet-width) {
    width: 668px;
    padding: 51px 50px 50px;
    display: flex;
    justify-content: space-between;
  }
}

.page-footer__logo {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
  }
}

.page-footer__social {
  padding: 0 20px 27px;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    left: -30px;
    bottom: 5px;
    width: 260px;
    height: 1px;
    background-color: $grey;

    @media (min-width: $tablet-width) {
      display: none;
    }
  }

  @media (min-width: $tablet-width) {
    padding: 0;
    padding-top: 2px;
  }
}

.page-footer__copyright {
  padding-top: 17px;

  @media (min-width: $tablet-width) {
    padding: 0;
    width: 182px;
  }
}
