.page-footer {
  min-height: 160px;
  background-color: var(--basic-background);
}

.page-footer__logo {
  display: none;
}

.page-footer__social {
  padding: 25px 89px 27px;
}

.page-footer__copyright {
  padding: 17px 69px 19px;
}
