.reviews__container {
  width: 260px;
  margin: 0 auto;
  padding: 32px 30px 52px;
  position: relative;

  @media (min-width: $tablet-width) {
    width: 668px;
    padding: 78px 50px 103px;
    background-image: url("../img/review.jpg");
    background-repeat: no-repeat;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/review@2x.jpg");
      background-size: 350px;
    }
  }

  @media (min-width: $desktop-width) {
    width: 1050px;
    padding: 78px 50px 156px;
    background-position: 50px 0;
  }
}

.reviews__flex {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.reviews__title {
  margin: 0;
  font-size: 25px;
  line-height: 30px;
  margin-bottom: 15px;

  @media (min-width: $tablet-width) {
    font-size: 43px;
    line-height: 50px;
    margin-top: 5px;
    margin-bottom: 39px;
    order: -2;
  }

  @media (min-width: $desktop-width) {
    margin-top: 0;
    margin-bottom: 35px;
    padding-left: 175px;
    font-size: 53px;
    line-height: 57px;
  }
}

.reviews__list {
  @media (min-width: $tablet-width) {
    position: relative;
  }

  @media (min-width: $desktop-width) {
    padding-left: 175px;
  }
}

.reviews__item {
  margin: 0;
  margin-bottom: 30px;
}

.reviews__text {
  margin: 0;
  font-size: 15px;
  line-height: 30px;
  font-weight: 400;
  margin-bottom: 35px;
  color: $darkgrey;

  @media (min-width: $tablet-width) {
    font-size: 17px;
    margin-bottom: 63px;

    br {
      display: none;
    }
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 46px;
    padding-right: 70px;
  }
}

.reviews__autor-nume {
  font-style: normal;
  display: block;
  margin-bottom: 3px;

  @media (min-width: $tablet-width) {
    font-size: 18px;
    margin-bottom: 2px;
  }

  @media (min-width: $desktop-width) {
    font-size: 17px;
  }
}

.reviews__autor-link {
  font-size: 17px;
  line-height: 30px;
  font-weight: 400;
  display: block;
}

.reviews__btns {
  width: 258px;
  height: 50px;
  border: 1px solid $lightgrey;
  background-color: $white;
  position: relative;
  margin-bottom: 38px;

  @media (min-width: $tablet-width) {
    position: absolute;
    bottom: -4px;
    right: 0;
    width: 175px;
    border: none;
  }
}

.reviews__btn {
  width: 126px;
  height: 50px;
  border: none;
  background-color: $white;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    width: 85px;
  }

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  &--prev {
    content: "";
    position: absolute;
    top: 13px;
    left: 38px;
    background-image: url("../img/huge-arrow-left.svg");
    width: 50px;
    height: 26px;
    cursor: pointer;

    @media (min-width: $tablet-width) {
      left: 19px;
    }
  }

  &--prev::after {
    content: "";
    position: absolute;
    top: -13px;
    left: 90px;
    background-color: $lightgrey;
    width: 1px;
    height: 50px;

    @media (min-width: $tablet-width) {
      display: none;
    }
  }

  &--next {
    content: "";
    position: absolute;
    top: 13px;
    right: 40px;
    background-image: url("../img/huge-arrow-right.svg");
    width: 50px;
    height: 26px;
    cursor: pointer;

    @media (min-width: $tablet-width) {
      right: 19px;
    }
  }
}

.reviews__flex .reviews__button {
  @media (min-width: $tablet-width) {
    order: -1;
    width: 171px;
  }
}
