.social__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  width: 142px;
  justify-content: space-between;
  align-items: center;
}

.social__link {
  fill: $black;

  &:hover {
    fill: $tiffany-hover;
  }

  &:focus {
    fill: $tiffany-hover;
  }

  &:active {
    opacity: 0.3;
  }
}
