.user-nav {
  @media (min-width: $tablet-width) {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    display: grid;
    grid-template-columns: 84px 1fr;
    width: 350px;
    height: 88px;
  }

  @media (min-width: $desktop-width) {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
  }
}

.user-nav__item {
  padding: 27.5px 0 26.5px 76px;
  border-top: 1px solid $lightgrey;
  position: relative;

  @media (min-width: $tablet-width) {
    border-top: none;
    padding: 0;
    padding-top: 33px;
    padding-bottom: 31px;
    text-align: end;

    &--special {
      border-right: 1px solid $lightgrey;
      border-left: 1px solid $lightgrey;

      .user-nav__link-text {
        display: none;
      }
    }
  }

  @media (min-width: $desktop-width) {
    padding: 32.5px 0 31.5px 75px;
  }
}

.user-nav__link {
  color: $black;

  .user-nav__icon {
    position: absolute;
    top: 31px;
    left: 31px;
    opacity: 0.2;

    @media (min-width: $tablet-width) {
      top: 35px;
      left: 33px;
    }
  }

  &:hover {
    .user-nav__link-text {
      opacity: 0.6;
    }

    .user-nav__icon {
      opacity: 1;
      fill: $tiffany;
    }
  }

  &:focus {
    .user-nav__link-text {
      opacity: 0.6;
    }

    .user-nav__icon {
      opacity: 1;
      fill: $tiffany;
    }
  }

  &:active {
    .user-nav__link-text {
      opacity: 0.3;
    }

    .user-nav__icon {
      opacity: 0.3;
    }
  }
}
