.video__wrapper {
  width: 260px;
  margin: 0 auto;
  padding: 0 30px 58px;

  @media (min-width: $tablet-width) {
    width: 668px;
    padding: 0 50px 64px;
  }

  @media (min-width: $desktop-width) {
    width: 1050px;
    padding-bottom: 105px;
  }
}

.video__card {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: max-content 1fr;
  }
}

.video__title {
  margin: 0;
  padding: 20px 13px 26.5px 91px;
  position: relative;
  font-size: inherit;
  line-height: inherit;
  border: 1px solid $lightgrey;
  border-bottom: none;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    padding: 40px 13px 24.5px 107px;
  }

  @media (min-width: $desktop-width) {
    padding: 95px 110px 27px 79px;
    border-left: none;
  }

  &--icon::before {
    content: "";
    position: absolute;
    top: 33px;
    left: 34px;
    background-image: url("../img/video.svg");
    width: 32px;
    height: 22px;

    @media (min-width: $tablet-width) {
      top: 38px;
      left: 42px;
    }

    @media (min-width: $desktop-width) {
      top: 45px;
      left: 79px;
    }
  }
}

.video__container {
  position: relative;

  @media (min-width: $tablet-width) {
    order: -1;
  }

  @media (min-width: $desktop-width) {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 4;
  }
}

.video__button-play {
  border: none;
  background-color: transparent;
  background-image: url("../img/play.svg");
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 101px;
  height: 77px;
  cursor: pointer;

  &:hover {
    transform: translate(-50%, -50%) scale(1.2);
  }

  &:active {
    transform: translate(-50%, -50%) scale(0.8);
    opacity: 0.3;
  }
}

.video__description {
  border: 1px solid $lightgrey;
  border-top: none;

  &:hover {
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
  }

  &:active {
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  }

  @media (min-width: $desktop-width) {
    border-left: none;
  }
}

.video__text {
  margin: 0;
  padding: 35px 0 41px 34px;
  font-size: 13px;
  font-weight: 400;
  color: $darkgrey;

  @media (min-width: $tablet-width) {
    padding: 0 40px 41px;
    font-size: 15px;
    line-height: 30px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 36px 53px 79px;
  }
}

.video__button {
  width: 188px;
  margin: 0 34px 32px;

  @media (min-width: $tablet-width) {
    width: 580px;
    margin: 0 42px 46px;
  }

  @media (min-width: $desktop-width) {
    width: 226px;
    margin: 0 57px 60px 80px;
  }
}
