:root {
  --basic-black: #000000;
  --basic-white: #ffffff;
  --basic-accent: #63d1bb;
  --basic-border: #ececec;
  --basic-text: #444444;
  --basic-background: #f1f1f1;

  --special-darc-accent: #56c3b2;
  --special-e-mail: #62d1ba;
}
