// Font //

$fontFamily: "Open sans", "Arial", sans-serif;

// Colors //

$black: #000000;
$white: #ffffff;
$tiffany: #63d1bb;
$lightgrey: #ececec;
$darkgrey: #444444;
$special-grey: #f1f1f1;

$dark-tiffany: #56c3b2;
$special-tiffany: #62d1ba;
